@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* --color-primary : #7d86fb;
  --ui-primary : #7d86fb; */
  --ui-radius : 0.5rem;
}

@layer utilities {
  .fade-in {
    animation: fadeIn 0.4s ease-in;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}